* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: to, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --button: #1B734F;
  --big-text: #18214D;
  --small-text: #656B83;
  --ash-background: #EFF2F6;
  --background: #F4F8F6;
  --footer-background: #F4F8F6;
  --line: #F4F8F6;

}

body {
  /* max-width: 100%; */
  /* height: max-content; */
  /* padding-left: 10rem; */
  /* overflow: hidden; */

  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* background-image: url("www.codevillage.org/images/hero_bg.png"); */
  /* background-image: url(hero_bg.png); */
  /* background-repeat: no-r÷epeat; */
  /* background-position: center top; */
  /* background-size: 50rem 20rem; */
}

.container {
  padding-top: 4rem;
  width: 100vw;

  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 7rem;

}

.logo {

  display: flex;

  align-self: flex-start;
  height: 3rem;
  margin-bottom: 10rem;
}


.section1 {
  display: flex;
}

.wordings {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}

.wordings-heading {
  color: var(--big-text);
  font-size: 5rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin-bottom: 3rem;
}

.wordings-description {
  color: var(--small-text);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.wordings a {

  margin-right: 3rem;

}

.wordings-footer img {
  height: 2rem;

}

.bg-img img {
  height: 55rem;
  position: absolute;
  top: 0;
  right: 0;
}

.section2 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;

}

.section2-wordings-div {
  display: flex;
  flex-direction: row;
  /* padding-left: 7rem; */
  margin-bottom: 5rem;
}


.section2-heading {
  font-size: 1.5rem;
  color: var(--big-text);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
  margin-right: 7rem;
}

.section2-description {
  color: var(--small-text);
  font-size: 1.25rem;
  font-weight: 400;
}

.section2 img {
  height: 26.25rem;
  padding-bottom: 6rem;
  /* width: fit-content; */
  /* position: absolute; */
  /* align-self: center; */
  /* object-fit: fill; */
}

.section2-img-div {
  display: flex;
  justify-content: center;
}

.courses-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section3 {
  background-color: #EFF2F6;
  padding-top: 5rem;
}

.section3-wordings {
  display: flex;
  flex-direction: column;
}

.advert {
  font-size: 4rem;
  font-weight: 500;
  color: #18214D;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.advert-desc {
  /* font-size: 5rem; */
  font-weight: 600;
  color: var(--small-text);
  margin-bottom: 2rem;
}

.programs {
  /* font-size: ; */
  /* font-weight: ; */
  /* color: #656B83; */
}